.file-input__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: var(--color-neutral-900);
    margin-bottom: 12px;
}

.file-input__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.file-input__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.file-input__button {
    margin-right: 16px;
}

.file-input__button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.1);
}

.file-input__loader {
    margin-right: 8px;
    animation: rotation 2s infinite linear;
}

.file-input__name {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.01em;
    color: var(--color-neutral-400);
}

.file-input__error {
    font-size: 13px;
    line-height: 120%;
    color: var(--color-error-500);
}

.file-input__hint {
    font-size: 13px;
    line-height: 120%;
    color: var(--color-neutral-500);
}